name: Daily Birthday Check

on:
  schedule:
    # Run daily at 00:00 UTC
    - cron: '0 0 * * *'
  workflow_dispatch: # Allows manual triggering

jobs:
  check-birthdays:
    runs-on: ubuntu-latest
    strategy:
      matrix:
        person:
          - name: Chase
            birthday: 01-20
            discord_id: 712874721217216542
          - name: Skyler
            birthday: 01-24
            discord_id: 1135720945261224058
          - name: Roger
            birthday: 03-21
            discord_id: 318547984889544704
          - name: Scott
            birthday: 07-24
            discord_id: 148576479050072065
          - name: Jason
            birthday: 10-05
            discord_id: 342154593104429057
          - name: Ed
            birthday: 04-03
            discord_id: 510282412861816834
          - name: CJ
            birthday: 06-15
            discord_id: 767935184662036510
          - name: Clark
            birthday: 09-27
            discord_id: 321384811396857877
          - name: Ross
            birthday: 05-08
            discord_id: 785011449075728404
          - name: Zach
            birthday: 03-24
            discord_id: 498352849919541248
    
    steps:
      - name: Check birthday
        env:
          DISCORD_ID: ${{ matrix.person.discord_id }}
          BIRTHDAY: ${{ matrix.person.birthday }}
          NAME: ${{ matrix.person.name }}
        run: |
          TODAY=$(date +%m-%d)
          
          if [ "$TODAY" == "$BIRTHDAY" ]; then
            echo "$NAME: true"
          fi
